html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, form, label, embed, select, input, textarea, pre {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-indent: 0
}
body, input, textarea {
	font: 14px/1.625em tahoma, arial, helvetica, sans-serif;
	color: #333;
	word-break: break-all
}
body {
	padding: 0 9%;
	background: #f6f6f6
}
h1, h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.625em;
	margin: 2em 0 0 0
}
h3 {
	font-size: 16px
}
p, pre {
	margin: 9px
}
b {
	background: #eee;
	padding: 0 2px
}
pre {
	border: 1px #ccc solid;
	border-radius: 9px;
	box-shadow: 0 1px 3px #ccc inset
}
pre script {
	display: block
}
ol, ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
header {
	padding: 2em 0;
	border-bottom: 1px #ddd solid
}
footer {
	text-align: center;
	margin: 3em;
	color: #999
}
.cf:before, .cf:after {
	content: " ";
	display: table
}
.cf:after {
	clear: both
}
.cf {
	*zoom: 1
}
a {
	color: #1982D1;
	text-decoration: none
}
a:hover {
	color: #f00;
	text-decoration: underline
}
.fl {
	float: left
}
.fr {
	float: right
}
.border {
	border: 1px #ddd solid;
	border-radius: 3px
}
.red, a.red {
	color: #C71202
}
input[type=search], input[type=date], input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
select, input[type=email], input[type=search], input[type=date], input[type=number], input[type=password], input[type=text], input[type=url], textarea {
	border: 1px #ccc solid;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 0 0 3px rgba(200, 200, 200, 0.1);
	border-radius: 3px;
	padding: 0 4px;
}
select:hover, input[type=email]:hover, input[type=search]:hover, input[type=date]:hover, input[type=number]:hover, input[type=password]:hover, input[type=text]:hover, input[type=url]:hover, textarea:hover {
	border: 1px solid #999;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2),0 0 0 3px rgba(200, 200, 200, 0.2);
}
select:focus, input[type=email]:focus, input[type=search]:focus, input[type=date]:focus, input[type=number]:focus, input[type=password]:focus, input[type=text]:focus, input[type=url]:focus, textarea:focus {
	outline: none;
	border: 1px solid #4D90FE;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4),0 0 0 3px rgba(200, 200, 200, 0.4);
}
select {
	padding: 0
}
input[type=radio], input[type=checkbox]{
	-webkit-transform: scale(1.2);
}
input {
	height: 2em;
	vertical-align: middle;
	box-sizing: border-box;
	transition: all 0.2s ease-out
}
textarea {
	overflow: auto;
	height: 99px
}
label {
	cursor: pointer
}
a.lightbtn {
	display: inline-block;
	padding: 2px 9px;
	border-radius: 3px;
	background: #ddd;
	text-decoration: none;
	background: linear-gradient(#eee 60%, #ddd 100%);
	border: 1px #aaa solid;
	box-shadow: 0 1px 2px #ddd;
	text-shadow: 0px 1px 1px #fff;
	color: #333;
	transition: all 0.1s ease-out
}
a.lightbtn:hover {
	text-decoration: none;
	box-shadow: 0 1px 2px #fff;
	background: #eee;
	background: linear-gradient(#f3f3f3 20%, #ddd 100%)
}
a.lightbtn:active {
	box-shadow: 0 1px 2px #fff, 0 1px 2px #ccc inset;
	background: #ccc;
	background: linear-gradient(#eee 40%, #d9d9d9 100%)
}
.btn {
	display: inline-block;
	position: relative;
	padding: 0 18px;
	height: 28px;
	line-height: 28px;
	background: #fff;
	text-decoration: none;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	border: 1px #999 solid;
	color: #333;
	opacity: .8;
	border-radius: 3px;
	cursor: pointer;
}
.btn:hover {
	text-decoration: none;
	opacity: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.btn:active {
	opacity: .8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .4) inset;
}
.btn button {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
.btn.red {
	background: #f80;
	border-color: #f60;
	color: #fff
}
.btn.green {
	background: #01a461;
	border-color: #19885a;
	color: #fff
}
.btn.blue {
	background: #0074d9;
	border-color: #0658CB;
	color: #fff
}
.btn.disbled, .btn.disbled:hover, .btn.disbled:active {
	background: #eee;
	border-color: #ddd;
	color: #999;
	cursor: default;
	box-shadow: none;
	opacity: 1;
}
.form {
	width: 640px;
	border: 1px #ddd solid;
	border-radius: 3px;
	padding: 24px;
}
.form p {
	padding: 0 0 0 160px;
	line-height: 36px;
}
.form .f_info {
	float: left;
	width: 140px;
	margin: 0 0 0 -160px;
	text-align: right;
	font-size: 14px;
	cursor: default;
}
.form input,.form select,.form .btn{
	height: 32px;
	line-height: 32px;
	font-size: 14px;
}
.form .f_long {
	width: 260px;
}
.form .f_short,.form .btn {
	width: 120px;
	margin: 0 20px 0 0;
}
.form .f_for{
	display: inline-block;
	vertical-align: middle;
	min-width: 64px;
	margin: 0 16px 0 0;
}
.form .f_err{
	border: 1px #f60 solid;
}
.form .f_suc{
	border: 1px #01a461 solid;
}
.form .f_suc:after{
	content: "√";
}